*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #F6F6F7;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #61DBFB;
}

.tasks{
    width: 60rem;
    height: 35rem;
    background-color: #393F49;
    padding: 3rem;
    border-radius: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header .date h1{
    font-size: 1.2em;
}

header .date p{
    font-size: 0.8em;
    color: #61DBFB;
}

header .progress-tasks{
    display: flex;
    gap: 2rem;
}

header .progress-tasks p{
    color: #F6F6F7;

}

header .progress-tasks p:nth-of-type(2){
    color: #6F747A;
}

header .progress-tasks p{
    font-size: 1em;
    cursor: pointer;
}

main .add-tasks{
    display: flex;
    gap: 1rem;
    margin: 2rem 0 1rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #6F747A;
}

main .add-tasks input{
    width: 20rem;
    height: 2rem;
    border-radius: 3px;
    border: none;
    padding-left: 1rem;
    color: #393F49;
}

main .add-tasks button{
    width: 5.5rem;
    height: 2rem;
    background-color: #61DBFB;
    border: none;
    border-radius: 3px;
}

main .list-tasks{
    width: 100%;
}

main .list-tasks h1{
    font-size: 1.5em;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #6F747A;
}

main .list-tasks ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

main .list-tasks ul li{
    border-bottom: 1px solid #6F747A;
    padding-bottom: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}

main .list-tasks ul img{
    width: 1rem;
    filter: invert(1);
    cursor: pointer;
}

main .list-tasks ul li img:nth-last-of-type(1){
    position: absolute;
    right: 1rem;
}

main .completed-tasks{
    display: none;
    margin-top: 4rem;
}

